<%- include('private_partials/privateHeader') %>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                <div class="page-content">
                    <%- include('private_partials/forms/addUser') %>
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                <div class="page-content">
                    <%- include('private_partials/forms/editUser') %>
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                <div class="page-content">
                    <%- include('private_partials/forms/deleteUser') %>
                </div>
            </section>
        </main>
    </div>
</body>
</html>