<%- include('private_partials/private_header') %>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                <div class="page-content">
                    <%- include('private_partials/forms/add_user') %>
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                <div class="page-content">
                    <%- include('private_partials/forms/edit_user') %>
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                <div class="page-content">
                    <%- include('private_partials/forms/delete_user') %>
                </div>
            </section>
        </main>
    </div>
</body>
</html>