<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/account.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-green.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="script/addusermodal.js"></script>
    <title>Account Manager</title>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
        mdl-layout--fixed-tabs">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">Account Manager</span>
            </div>
            <!-- Tabs -->
            <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Add User</a>
                <a href="#fixed-tab-2" class="mdl-layout__tab">Delete User</a>
                <a href="#fixed-tab-3" class="mdl-layout__tab">Edit/Update User</a>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">KMJF</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Dashboard</a>
                <a class="mdl-navigation__link" href="">Account Manager</a>
                <a class="mdl-navigation__link" href="">Content Manager</a>
                <a class="mdl-navigation__link" href="">Inventory</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
                <div class="page-content">
                    <div class="card">
                        <h2>Add User</h2>
                        <form action="/addUser" method="post" id="addUser">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email Address:</label>
                                <input type="email" id="email" name="email"required>
                            </div>
                            <div class="form-group">
                                <label for="userType">User Type:</label>
                                <select id="userType" name="userType" required>
                                    <option value="admin">Admin</option>
                                    <option value="basic-user">Basic User</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="confirm-password">Confirm Password:</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" required>
                            </div>
                            <button type="submit" id="add-user-button">Add User</button>               
                        </form>
                        <div class="modal" id="modal">
                            <div class="modal-content" id="message-container"> </div>
                        </div>   
                    </div>
                </div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-2">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
            <section class="mdl-layout__tab-panel" id="fixed-tab-3">
                <div class="page-content"><!-- Your content goes here --></div>
            </section>
        </main>
    </div>
</body>
</html>