<%- include('private_partials/privateHeader') %>
        <main class="mdl-layout__content">
            <section class="dashboard">
                <div class="left-column">
                    <div class="card" id="sales-card">
                        <p id="sales-display"></p>
                        <hr>
                        <p id="quantity-display"></p>
                        <hr>
                    </div>
                    <div class="card" id="filters-card">
                        <form id="form-filter">
                            <!-- Timeframe Filter -->
                            <div class="filter">
                                <label for="timeframe">Select Timeframe:</label>
                                <select id="timeframe" name="timeframe">
                                    <option value="daily">Daily</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                            </div>
                            
                            <div id="range-filter">
                                <!-- Daily Filter (Initially hidden) -->
                                <div class="daily-filter">
                                    <label for="calendar">Select Date:</label>
                                    <input type="date" id="calendar" name="calendar">
                                </div>

                                <!-- Quarterly Filter (Initially hidden) -->
                                <div class="quarterly-filter">
                                    <label for="quarter">Select Quarter:</label>
                                    <select id="quarter" name="quarter">
                                        <!-- JavaScript will dynamically generate options here -->
                                    </select>
                                </div>

                                <!-- Yearly Filter (Initially shown) -->
                                <div class="yearly-filter">
                                    <label for="year">Select Year:</label>
                                    <select id="year" name="year">
                                        <!-- JavaScript will dynamically generate options here -->
                                    </select>
                                </div>
                            </div>

                            <!-- Apply Filter Button -->
                            <button type="submit" id="apply-filter">Apply Filter</button>
                        </form>
                    </div>                    
                </div>
                
                <div class="right-column">
                    <div id="salesChartContainer">
                        <canvas id="salesChart"></canvas>
                    </div>
                </div>
            </section>
            <hr>
        </main>
    </div>
</body>
</html>