<%- include('private_partials/privateHeader') %>
        <main class="mdl-layout__content">
            <section class="dashboard">
                <div class="left-column">
                    <div class="card" id="sales-card">
                        <p id="sales-display"></p>
                        <p id="quantity-display"></p>
                        <hr>
                        
                    </div>
                    <div class="card" id="filters-card">
                        <form id="form-filter">
                            <!-- Timeframe Filter -->
                            <div class="filter">
                                <label for="timeframe">Select Timeframe:</label>
                                <select id="timeframe" name="timeframe">
                                    <option value="daily" selected>Daily</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="yearly">Yearly</option>
                                </select>
                            </div>
                            
                            <div id="range-filter">
                                <!-- Daily Filter -->
                                <div class="daily-filter">
                                    <label for="calendar">Select Date:</label>
                                    <!-- <input type="date" id="calendar" name="calendar" value="<?php echo date('Y-m-d'); ?>"> -->
                                    <input type="date" id="calendar" name="calendar">
                                </div>
                        
                                <!-- Quarterly Filter (Initially hidden) -->
                                <div class="quarterly-filter" style="display: none;">
                                    <label for="quarter">Select Quarter:</label>
                                    <select id="quarter" name="quarter">
                                        <!-- JavaScript will dynamically generate options here -->
                                    </select>
                                </div>
                        
                                <!-- Yearly Filter (Initially hidden) -->
                                <div class="yearly-filter" style="display: none;">
                                    <label for="year">Select Year:</label>
                                    <select id="year" name="year">
                                        <!-- JavaScript will dynamically generate options here -->
                                    </select>
                                </div>
                            </div>
                        
                            <!-- Apply Filter Button -->
                            <button type="submit" id="apply-filter">Apply Filter</button>
                        </form>
                        
                    </div>                    
                </div>
                
                <div class="right-column">

                    <div class="timeframe_report">
                        <p class="timeframe_display"></p>
                    </div>

                    <div id="salesChartContainer">
                        <table id="myTable">
                            <thead>
                                <tr>
                                    <th>SKU</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price per item</th>
                                    <th>Total Price</th>
                                    <!-- Add more columns as needed -->
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be dynamically populated here -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <hr>
        </main>
    </div>
</body>
</html>