<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">KMJF Polynets</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/">Home</a>
            <a class="mdl-navigation__link" href="/gallery">Gallery</a>
            <a class="mdl-navigation__link" href="/content">Promotions</a>
            <a class="mdl-navigation__link" href="">Contact Us</a>
            <a class="mdl-navigation__link" href="">Login</a>
        </nav>
    </div>
</header>
