h1 {
    text-align: center;
}

.page-content {
    width: 80%;
    margin: 20px auto;
}

.content-card {
    background-color: #f5f5f5;
    border: 1px solid #e9ebee;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.content-head {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 4px solid #e9ebee;
}

.content-head h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0px;
}

.content-head p.date {
    font-size: 12px;
    font-style: italic;
    margin-top: 0px;
}

.content-body {
    margin-top: 10px;
}

.content-card img {
    max-width: 80%;
    height: auto;
    margin: 0 auto 16px;
    border-radius: 8px;
    object-fit: cover;
    display: block;
}

.content-card p {
    font-size: 16px;
    margin-bottom: 8px;
}

.content-card p:last-child {
    margin-bottom: 0;
}

.content-card p,
.content-card h3 {
    overflow-wrap: break-word;
    word-wrap: break-word;
}
