section.dashboard {
    padding: 50px;
    display: grid;
    grid-template-columns: 20% 1fr; /* Two columns, left column 20% width, right column takes the rest */
    align-items: flex-start;
}

.left-column {
    /* No need to specify width here */
    display: grid;
    gap: 20px; /* Add some spacing between cards */
}

#sales-card p {
  font-size: 1.2em;
  font-weight: bold;
}

.right-column {
    /* No need to specify width or height here */
    margin-left: 20px;
    padding: 30px;
    border-radius: 8px; 
    background-color: #f2f2f2; 
    border: 1px solid #6c757d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.float-right-span {
    float: right;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 250px;
}

#salesChartContainer {
  width: 100%;
  height: 100%;
}

.timeframe_display {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
/* form style */
form {
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.filter {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 700;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="date"],
input[type="month"] {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button[type="submit"] {
    margin-top: 10px;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc; /* Change the background color to gray */
    color: #888; /* Change the text color to a lighter gray */
    cursor: not-allowed; /* Change the cursor to indicate it's not clickable */
    /* You can add more styles as needed */
}

.daily-filter,
.weekly-filter {
    display: none;
}


/* Table style */
#myTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Table header */
  #myTable th {
    background-color: #9C27B0;
    color: white;
    padding: 12px;
    text-align: left;
  }
  
  /* Table body */
  #myTable td {
    border-bottom: 1px solid #ddd;
    padding: 12px;
  }
  
  /* Alternate row color */
  /* #myTable tbody tr:nth-child(even) {
    background-color: #f0f5ff ;
  }
   */
  /* Hover effect */
  #myTable tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  /* Right align the last column (Price) */
  /* #myTable td:last-child {
    text-align: right;
  } */
  
  /* Responsive table */
  @media screen and (max-width: 600px) {
    #myTable {
      border: 0;
    }
    #myTable thead {
      display: none;
    }
    #myTable tbody tr {
      margin-bottom: 20px;
      display: block;
      border: 1px solid #ddd;
    }
    #myTable tbody td {
      display: block;
      text-align: right;
    }
    #myTable tbody td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
    }
  }
  

