<div class="card" id="editForm">
    <div class="content-wrapper">
        <h2>Edit Content</h2>
        <button id="closeFormButton" class="close-icon">&times;</button>
        <form id="editContent">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="editTitle" name="title" reqred>
            </div>
            <div class="form-group">
                <label for="content">Content:</label>
                <input type="hidden" id="editContentInput" name="content">
                <div id="editEditor" class="editor"></div>
            </div>
            <div>
                <button class="submitContent" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>