<div class="page-content">
    <!-- Link to open the modal -->   
    <div class="tableContainer">
        <table id="inventoryTable" class="display" data-page-length="10">
            <!-- Table Headers -->
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Product Name</th>
                    <th>Document Number</th>
                    <th>Qty Received</th>
                    <th>Qty in Stock</th>
                    <th>Cost Price</th>
                    <th>Selling Price</th>
                    <th>Date Updated</th>
                    <th>Send Purchase Order</th>
                    <% if (userType === 'admin') { %>
                        <th>Edit</th>
                    <% } %>
                    <th>Add to Cart</th>
                </tr>
            </thead>
    
            <!-- Table Body -->
            <tbody id="tableBody" class="bodyTable">
                <!-- Table body content will be generated dynamically -->
            </tbody>
        </table>
    </div>
</div>