<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-blue.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Products</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('partials/public_navbar') %>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="card">
                <h1>About Us</h1>
                <p>Welcome to our company! We take pride in being a reliable supplier of high-quality nets for various purposes,
                    including farms, poultry, fishing, and industrial use. Located in the vibrant city of San Jose, Del Monte
                    Bulacan, we offer a convenient way to purchase our products through online channels like Facebook and Shopee.
                    For those who prefer a more personal touch, we gladly accept bulk orders in person at our physical store.</p>
            
                <p>Whether you choose to visit us in person or explore our online Shopee store, we invite you to discover and
                    experience the superior quality of our nets.</p>
            
                <p>Should you have any questions or need assistance, our dedicated team is just a call away. Reach out to us at
                    <a href="tel:+63963306612">0963306612</a> or drop us an email at
                    <a href="mailto:jrfortunado26@gmail.com">jrfortunado26@gmail.com</a>. We'll be more than happy to assist
                    you!</p>
            
                <p>Thank you for choosing us as your trusted partner. We look forward to serving you and providing the perfect
                    netting solutions for your needs.</p>
            </div>
        </div>
        <%- include('partials/public_footer') %>
    </main>
</div>
</body>
</html>