<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/gallery.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.purple-green.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Products</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('partials/public_navbar') %>
    <main class="mdl-layout__content">
        <div class="page-content">
            <h1>Our Products</h1>
            <section class="products">
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet1">
                        <img src="images/image1.jpg" alt="image1">
                        <h3>Range Net Set - Multiple Sizes Available (1 inch x 10ft, 1.25 inch x 14ft, 1.5 inch x 18ft, 2 inch x 22ft) - 100 Meters Each with Free 200 Meter Rope & Cable Tie</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet2">
                        <img src="images/image2.jpg" alt="image2">
                        <h3>1.5x9ft Range Net - Lambat Pambakod Chicken Net for Farm Poultry - 100 Meters with Free 200 Meter Rope & Cable Tie</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet3">
                        <img src="images/image3.jpg" alt="image3">
                        <h3>Chicken Net - Lambat Pambakod Farm Net with Free 50 Meters Range Net, 200 Meters of Rope, and Cable Ties Included</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet5">
                        <img src="images/image4.jpg" alt="image4">
                        <h3>RANGE NET with 100 Meters of Free 200 Meter Rope & Cable Tie - Available in 1 inch, 1.25 inch, 1.5 inch, and 2 inch sizes</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet4">
                        <img src="images/image5.jpg" alt="image5">
                        <h3>1 inch Range Net - Chicken Net/Farm Net - 4-5ft Height x 100 Meters - Free 200 Meter Rope & Cable Tie - Lambat Pambakod</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet6">
                        <img src="images/image6.jpg" alt="image6">
                        <h3>2 inch Poultry Range Net - Lambat Pambakod Farm Net - 10-12ft Height x 100 Meters - Free Rope & Cable Tie Included</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet7">
                        <img src="images/image7.jpg" alt="image7">
                        <h3>1.25x7ft Range Net - Lambat Pambakod Chicken Farm Poultry Net - 100 Meters with Free 200 Meter Rope & Cable Tie</h3>
                    </a>
                </div>
                <div class="product-card">
                    <a href="https://tinyurl.com/rangenet8">
                        <img src="images/image8.jpg" alt="image7">
                        <h3>Fine Net - 5ft x 90 Meters - Mosquito Net (Kulambo)/Anti-Langaw/Garden Net/Anti-Insect</h3>
                    </a>
                </div>
            </section>
        </div>
        <%- include('partials/public_footer') %>
    </main>
</div>
</body>
</html>